.visHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body {
  background-color: slategray;
}
